html {
  min-height: 100vh;
  min-width: 100vh;
}

body {
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  padding: 0;
}

.header{
  height: 8vh;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  border: 1px solid black;
}

#searchbar{
  margin-left: 50px;
  width: 100%;
  text-align: center;
}

#searchlocalisation{
  height: 35px;
  width: 350px; 
  background-color: white;
  color: black;
}

#submitlocalisation{
  height: 35px;
}

#filterId{
  height: 35px;
  width: 200px;
  margin-right: 40px; 
}

#actualisation{
  height: 35px;
  width: 200px;
  margin-right: 40px;  
}

#createMarker{
  height: 35px;
  width: 200px;
  margin-right: 40px;  
}

#geolocation{
  height: 35px;
  width: 150px;
  margin-right: 40px;  
}

#content{
  display: flex;
  flex-direction: row;
}

#restaurantItemsContent{
  display: none;
  background-color: white;
  overflow: auto;
  height: 90vh;
  width: 17%;
}

.restaurantItem{
  height: auto;
  width: 100%;
  background-color: white;
  border: 1px solid;
  box-sizing: border-box;
  text-align: center;    
}

.restaurantPhoto{
  background-color: grey;
  height: 200px;
  width: 100%;
}

#map{
  z-index: 2;
  background-color: skyblue;
  height: 90vh;
  width: 100%;	
}

#explication{
  text-align: center;
  position : absolute;
  right : 150px;
  width : 300px;
  height: auto;
  background-color: white;
}
/* modal_RestaurantDescription */
#modal_RestaurantDescription{
  text-align: center;
}
.modal_RestaurantDescription_photo{
  height: 200px;
  width: 200px;
  margin: auto; 
}
.modal_RestaurantDescription_address{
  margin: 20px 0px 20px 0px;
}

.modal_RestaurantDescription_CommentTitle{
  background-color: skyblue;
}

.modal_RestaurantDescription_CommentContentClass{
  margin: 20px 0px 20px 0px;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75); 
}

#modal_RestaurantDescription_WriteComment{
  margin: 20px 0px 20px 0px;
}
.modal_RestaurantDescription_CommentsContent{
  height: 300px;
  overflow: auto;
}

/* modal_AddComment */
#modal_AddComment {
  text-align: center;
}

#modal_AddComment_ButtonAddComment{
  margin: auto;
}
